<div class="container"> 
  <div class="row">
    <h2>Business Contact Directory </h2>
  </div>
  <div class="row">
      {{#each businesses}}
      <div class="col-12 col-md-6 col-xl-4 mt-4">
        <div class="card">
          <div class="card-body">
            <h4 class="card-title text-center">{{name}}</h4>
            <p class="text-right"><em>Rating: {{star_rating_avg}} / 5</em></p>
          </div>
          <ul class="list-group list-group-flush">
            <li class="list-group-item">Business type: {{type}}</li>
            <li class="list-group-item">Email: <a href="mailto:{{email}}">{{email}}</a></li>
            <li class="list-group-item">Phone #: {{phone}}</li>
            <li class="list-group-item">Address: <a href="https://maps.google.com/?q={{address}}" target="_blank">{{address}}</a></li>
            <li class="list-group-item">Webpage: <a href="https://{{webpage}}" target="_blank">{{webpage}}</a></li>
            <li class="list-group-item">LinkedIn: <a href="https://www.linkedin.com/in/{{linkedin}}" target="_blank">{{linkedin}}</a></li>
          </ul>
          <div class="card-body">
          <a class="" href="/reviews/{{id}}">Click here to view reviews</a>
          </div>
          
        </div>
      </div>
      {{/each}}
  </div>  
</div>

